$dark-one-color: #1b262c;
$dark-two-color: #0f4c75;
$dark-three-color: #3282b8;
$dark-four-color: #bbe1fa;
$light-one-color: #fafafa;
$light-two-color: #e3e3e3;
$light-three-color: #ee6f57;
$light-four-color: #cb3737;
$green-color: #2db92d;
$green-hover-color: #47d247;
$white-color: #ffffff;

:export {
  dark_one_color: $dark-one-color;
  dark_two_color: $dark-two-color;
  dark_three_color: $dark-three-color;
  dark_four_color: $dark-four-color; 
  green_color: $green-color;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  // background-color: $dark-one-color;
}

// p {
//   margin: 0px;
//   padding: 0px;
// }
button, .button  {
  border: none;
  cursor: pointer;
}

.font-size-1rem {
  font-size: 1rem;
}
.font-size-2rem {
  font-size: 2rem;
}
.font-size-3rem {
  font-size: 3rem;
}


.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}

.border-radius-10 {
  border-radius: 10px
}
.border-radius-20 {
  border-radius: 20px
}
.border-radius-30 {
  border-radius: 30px
}

.padding-5 {
  padding: 5px;
}
.padding-10 {
  padding: 10px;
}
.padding-20 {
  padding: 20px;
}
.padding-30 {
  padding: 30px;
}

.padding-top-10 {
  padding-top: 10px;
}
.padding-top-20 {
  padding-top: 20px;
}
.padding-top-30 {
  padding-top: 30px;
}
.padding-left-10 {
  padding-left: 10px;
}
.padding-left-20 {
  padding-left: 20px;
}
.padding-left-30 {
  padding-left: 30px;
}
.padding-right-10 {
  padding-right: 10px;
}
.padding-right-20 {
  padding-right: 20px;
}
.padding-right-30 {
  padding-right: 30px;
}

.margin-5 {
  margin: 5px;
}
.margin-10 {
  margin: 10px;
}
.margin-20 {
  margin: 20px;
}
.margin-30 {
  margin: 30px;
}

.margin-top-5 {
  margin-top: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-30 {
  margin-top: 30px;
}

.margin-bot-5 {
  margin-bottom: 5px;
}
.margin-bot-10 {
  margin-bottom: 10px;
}
.margin-bot-20 {
  margin-bottom: 20px;
}
.margin-bot-30 {
  margin-bottom: 30px;
}

.color-green {
  color: $green-color;
}
.color-green:hover {
  color: $green-hover-color;
}
.color-dark-one {
  color: $dark-one-color;
}
.color-dark-two {
  color: $dark-two-color;
}
.color-dark-three {
  color: $dark-three-color;
}
.color-dark-four {
  color: $dark-four-color;
}
.background-green {
  background-color: $green-color;
}
.background-green:hover {
  background-color: $green-hover-color;
}
.background-dark-one {
  background-color: $dark-one-color;
}
.background-dark-two {
  background-color: $dark-two-color;
}
.background-dark-three {
  background-color: $dark-three-color;
}
.background-dark-four {
  background-color: $dark-four-color;
}
.background-white {
  background-color: $white-color;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}
.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.border-red {
  border: 3px solid red;
}
.border-green {
  border: 3px solid green;
}
.border-black {
  border: 1px solid #000000;
}
.border-dark-one {
  border: 2px solid $dark-one-color;
}

.width-90 {
  width: 90%;
}
.width-100 {
  width: 100%;
}
.width-100px {
  width: 100px;
}
.width-200px {
  width: 200px;
}

.overflow-y {
  overflow-y: auto;
}
.overflow-x {
  overflow-x: auto;
}